---
layout: splash
excerpt: Personal homepage of Nikolai Norman Andersen
header:
  overlay_image: /assets/images/unsplash-image-1.jpg
  overlay_filter: 0.5 # same as adding an opacity of 0.5 to a black background
  overlay_image: /assets/images/kongle.jpg
  caption: "Photo credit: [**Unsplash**](https://unsplash.com)"
intro: 
  - excerpt: This page is just meant to be a simple way to find me on the internet. I've collected links to my SoMe-accounts, videos of talks I've held and some writings I've written over the years.
feature_row:
  - title: "About"
    excerpt: "Who I am and some links to my SoMe accounts"
    url: "/about"
    btn_label: "About"
    btn_class: "btn--primary"
  - title: "Talks"
    excerpt: "Overview and links to technical talks I've held"
    url: "/talks"
    btn_label: "Talks"
    btn_class: "btn--primary"
  - title: "Writings"
    excerpt: "Ancient writings and blog posts"
    url: "/blog"
    btn_label: "Writings"
    btn_class: "btn--primary" 
---

{% include feature_row id="intro" type="center" %}

{% include feature_row %}